<div class="ui grid">
          <div class="computer tablet only row">
            <div class="ui fixed inverted menu navbar">
                    <a href="/" class="brand item">BetterPlanner</a>
                    <a href="/" class="<%= typeof page !== 'undefined' && page === 'blogs' ? 'active' : '' %> item">Home</a>
                    <!-- <a href="http://ali-raza.me" class="item">About</a> -->
                <div class="right menu">
                  <!-- <% if(!currentblogUser){ %>
                      <a class="<%= typeof page !== 'undefined' && page === 'login' ? 'active' : '' %> item" href="/blogapp/login">Login</a>
                      <a class="<%= typeof page !== 'undefined' && page === 'register' ? 'active' : '' %> item"href="/blogapp/register">Sign Up</a>
                  <% } else { %>
                      <a href="#" class="item"><%= currentblogUser.username %></a>
                      <a class="item" href="/blogapp/logout">Logout</a>
                  <% } %> -->
                </div>
            </div>
        </div>
        <div class="mobile only row">
              <div class="ui fixed inverted navbar menu">
                    <a href="/" class="brand item"><i class="code icon"></i>
                        BetterPlanner</a>
                    <div class="right menu open">
                        <a href="" class="menu item">
                            <i class="content icon"></i>
                        </a>
                    </div>
              </div>
              <div class="ui vertical navbar menu">
                    <a href="/" class="item">Home</a>
                    <!-- <a href="/blogapp/blogs/new" class="item">New Post</a>
                    <div class="menu">
                      <% if(!currentblogUser){ %>
                          <a class="<%= typeof page !== 'undefined' && page === 'login' ? 'active' : '' %> item" href="/blogapp/login">Login</a>
                          <a class="<%= typeof page !== 'undefined' && page === 'register' ? 'active' : '' %> item" href="/blogapp/register">Sign Up</a>
                      <% } else { %>
                          <a href="#" class="item"><%= currentblogUser.username %></a>
                          <a href="/blogapp/logout" class="item">Logout</a>
                      <% } %>
                    </div> -->
            </div>
        </div>
