{% extends 'layout.html' %}

{% block body %}
    <div class="jumbotron text-center">
        <h1> Search for a course you would like to find more information about</h1>
         <form class="form-inline my-2 my-lg-0" action="/search/" method="POST">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name="course">
            <button class="btn btn-outline-success my-2 my-sm-0 center" type="submit">Search</button>
         </form>
    </div>
{% endblock %}