{% extends 'layout.html' %}

{% block body %}
        <div class="ui main text container">
        <br >
        <div class="ui huge header center aligned">
            <img class="ui image" src= "{{ url_for('static',filename='school.png') }}">
            BetterPlanner UofT
        </div>
        <br>
        <div class="ui top  attached">
          <form action="/search" method="get">
          <div class="ui form">

            <div class="ui fluid field icon input">


              <input class="form-control" type="text" autocomplete="off" autofocus placeholder="Search courses e.g CSC148 or eco100" name="course" id="course" display: block; cursor: auto;>
              <i class="search icon"></i>
            </div>

          </div>
        </form>
        </div>
        <br >
        <div class="ui divider"></div>

        <div class="item">
            <div class="content">
                <div class="description">
                    <p>
                        BetterPlanner is a course catalog search used to help course planning provide more details for courses at UofT.<br>
            Search up courses such as <label class="btn-link" for="submit-108" tabindex="0">CSC108H5</label> to find courses that depend on it, such as <label class="btn-link" for="submit-form" tabindex="0">CSC148H5</label>
            and <label class="btn-link" for="submit-458" tabindex="0">BIO458H5</label>.
            To find courses that you will consider taking during the semester, please look at the academic calender for your program.
                    </p>
                    <br>
                    <p>
                        This is a project contributed by <a href="https://github.com/luu-alex">Alex Luu</a>, <a href="https://www.ali-raza.me/">Ali Raza</a> and <a href="https://bitbucket.org/lealexchang/">Alex Chang</a>. <br>
Reach out for any questions or further discussions: alex.luu@mail.utoronto.ca
                    </p>
                    <!-- <button class="btn-link" action="/better-uoft/search/"  for="submit-form" type="submit" name="course" value="CSC148H5">CSC148H5</button> -->
                    <form id="csc148" action="/search" method="get"><input id="submit-form" type="submit" name="course"  value="CSC148H5"style="visibility: hidden;"/><input id="submit-108" type="submit" name="course"  value="CSC108H5"style="visibility: hidden;"/><input id="submit-458" type="submit" name="course" value="BIO458H5" style="visibility: hidden;"/></form><br>
                </div>
            </div>
        </div>

    </div>

{% endblock %}
