<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>BetterPlanner</title>
    <!-- <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.10/semantic.min.css" /> -->
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-112179304-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-112179304-1');
    </script>

    <script
      src="https://code.jquery.com/jquery-3.1.1.min.js"
      integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
      crossorigin="anonymous">
    </script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.0.8/semantic.min.css" rel="stylesheet" />
<div class="wrapper">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/app.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/components/reset.css') }}">
     <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/components/site.css') }}">

     <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/components/container.css') }}">
     <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/components/grid.css') }}">
     <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/components/header.css') }}">
     <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/components/image.css') }}">
     <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/components/menu.css') }}">

     <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/components/divider.css') }}">
     <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/components/dropdown.css') }}">
     <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/components/segment.css') }}">
     <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/components/button.css') }}">
     <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/components/list.css') }}">
     <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/components/icon.css') }}">
     <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/components/sidebar.css') }}">
     <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/components/transitions.css') }}">


</head>
    <body class="Site">
        <main class="Site-content">
            {% include 'includes/_navbar.html' %}
            {% block body %}{% endblock %}
        </main>

    <!-- <div class="ui fixed black inverted vertical footer segment">
        <div class="ui center aligned container">

        </div>
        <div class="ui horizontal inverted small divided link list">
            <a class="item" href="https://ali-raza.me">Ali</a>
            <a class="item" href="https://github.com/luu-alex">Alex</a>
            Reach out for any questions or further discussions: alex.luu@mail.utoronto.ca
        </div>
    </div> -->
    <!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css"> -->
</script>
<!-- <script src="/scripts/searchblog.js" async defer></script> -->

        <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.11/semantic.min.js"></script>
    </body>
</html>
