{% extends 'layout.html' %}

{% block body %}
    <div class="ui main text container segement">
      <form action="/search" method="get">
      <div class="ui form">
          <div class="ui fluid search dropdown">
            <div class="ui left icon input">
              <input class="prompt" type="text" placeholder="Search courses e.g CSC148 or eco100" name="course" id="course" display: block; cursor: auto;>
              <i class="search icon"></i>
              <button class="ui icon button">
                  <i class="search icon"></i>
              </button>
            </div>
          </div>
      </div>
    </form>
    <div class="ui huge header"><a href="{{url}}">{{Data['code']}} - {{Data['name']}} </a></div>
    <div class="ui top attached">

        <div class="item">
            <div class="content"><span>
            </span></div>
            <div class="description"><p>  {{Data['description']}}</p><p>
                </p>
            </div>

        </div>

        <div id="commentsdiv" class="ui comments">
            <h3 class="ui dividing header">Prerequisites</h3>
            <div id="comm">
                <div class="comment">
                        <div class="content">
                          <div id="prerequisites" class="text">
                          </div>
                          <script>
                                var $log = $( "#prerequisites" ),
                                str = "{{Data['prerequisites']}}"
                                arr = {{ Data['prerequisites_array']|tojson }},
                                res = str.split(/([_\W])/);
                                
                                var return_val = res.map(add_refs);                                
                                
                                function add_refs(value) {
                                    var clean = value.replace(/[.,\/#!$%\^&\*;:{}=\-_`~()]/g,"");
                                    if(arr.includes(clean)){
                                        return "<a href=/search?course="+value+"> "+value+" </a>"
                                    }
                                    if(clean.charAt(clean.length-2) == "H"){
                                        return "<a href=/search?course="+value+"> "+value+" </a>"
                                    }
                                    return value
                                }
                                $log.append( return_val );
                          </script>
                        </div>
                    </div>
                </div>
            </div>
            <div id="commentsdiv" class="ui comments">
                <h3 class="ui dividing header">Exclusions</h3>
                <div id="comm">
                    <div class="comment">
                            <div id="two" class="content">

                            </div>
                            <script>
                                var $log = $( "#two" ),
                                str = "{{Data['exclusions']}}",
                                
                                res = str.replace(/(<([^>]+)>)/ig,"");
                                res = res.split(/([_\W])/);
                                
                                var return_val = res.map(add_refs);                                
                                
                                function add_refs(value) {
                                    var clean = value.replace(/[.,\/#!$%\^&\*;:{}=\-_`~()]/g,"");
                                    if(clean.charAt(clean.length-2) == "H"){
                                        return "<a href=/search?course="+value+"> "+value+" </a>"
                                    }
                                    return value
                                }
                                $log.append( return_val );
                                // console.log({{ tree|tojson }});
                            </script>
                        </div>
                    </div>
                </div>
                <div id="commentsdiv" class="ui comments">
                    <h3 class="ui dividing header">Necessary for:</h3>
                    <div id="comm">
                        <div class="comment">
                                <div class="content">
                                  <div class="ui grid">
                                    {% for prereq in Data['required_for'] %}
                                    <div class="four wide column">
                                        <a href="/search?course={{prereq}}">{{prereq}}</a>
                                    </div>
                                    {% endfor %}
                                </div>
                                </div>
                            </div>
                        </div>
                    </div>

        </div>
    </div>

{% endblock %}
