{% extends 'layout.html' %}

{% block body %}
    <div class="ui main text container segement">
      <form action="/search" method="get">
      <div class="ui form">
        <div class="ui fluid field">
          <!-- <label>User Input</label> -->
          <input class="form-control" type="text" autocomplete="off" placeholder="Search courses e.g CSC148 or eco100" name="course" id="course" display: block; cursor: auto;>
        </div>
        <!-- <div class="ui button">Search</div> -->
      </div>
    </form>
    <div class="ui huge header"><a href="{{url}}">{{Data['code']}} - {{Data['name']}} </a></div>
    <div class="ui top attached">

        <div class="item">
            <div class="content"><span>
            </span></div>
            <div class="description"><p>  {{Data['description']}}</p><p>
                </p>
            </div>

        </div>

        <div id="commentsdiv" class="ui comments">
            <h3 class="ui dividing header">Prerequisites</h3>
            <div id="comm">
                <div class="comment">
                        <div class="content">
                          <div class="text">
                            {{Data['prerequisites']}}
                          </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="commentsdiv" class="ui comments">
                <h3 class="ui dividing header">Exclusions</h3>
                <div id="comm">
                    <div class="comment">
                            <div id="two" class="content">

                            </div>
                            <script>
                                  var $log = $( "#two" ),
                                  str = "{{Data['exclusions']}}",
                                  html = $.parseHTML( str );

                                // Append the parsed HTML
                                $log.append( html );

                            </script>
                        </div>
                    </div>
                </div>
                <div id="commentsdiv" class="ui comments">
                    <h3 class="ui dividing header">Necessary for:</h3>
                    <div id="comm">
                        <div class="comment">
                                <div class="content">
                                  <div class="ui grid">
                                    {% for prereq in Data['required_for'] %}
                                    <div class="four wide column">
                                        <form id="{{ loop.index }}" action="/search" method="get">
                                            <a id="course" href="javascript:;" onclick="document.getElementById('{{ loop.index }}').submit();">{{prereq}}</a>
                                            <input type="hidden" name="course" value="{{prereq}}"/>
                                        </form>
                                    </div>
                                    {% endfor %}
                                </div>
                                </div>
                            </div>
                        </div>
                    </div>

        </div>
    </div>

{% endblock %}
